<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap-rtl.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/shabnam/shabnam.css')}}">
        <title>{{ConfigMGR.getConfig.siteName}} - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}{% endblock %}
    <script src="{{asset('assets/jquery/jquery-3.4.1.min.js')}}"></script>
    <script src="{{asset('assets/popper/popper.min.js')}}" ></script>
    <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
